.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-bg-main);
	background-color: var(--color-accent-primary-bg);
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at top left,
			var(--color-accent-primary-dark),
			var(--color-accent-primary-bg),
			/* var(--color-accent-secondary-bg), */
			var(--color-accent-secondary-bg),
			var(--color-accent-secondary-dark));
	filter: blur(400px);
	z-index: -1;
}

.accent_background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.top {
	display: flex;
	z-index: 10;
	margin-top: 2.5rem;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	width: 100%;
	padding: 0 16rem;
	position: relative;

	/* &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 2rem;
		width: calc(100% - 4rem);
		height: calc(100% + 2rem);
		border: 2px solid var(--color-accent-primary);
		border-bottom: none;
		border-radius: var(--radius-xl) var(--radius-xl) 0 0;
		z-index: -1;
	} */
}

.link_cards {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
	width: 100%;
	gap: 0.75rem;
}

.spacing {
	margin-bottom: 8rem;
}

@media (max-width: 1300px) {
	.top {
		padding-left: 14rem;
		padding-right: 14rem;
	}
}

@media (max-width: 1024px) {
	.top {
		padding-left: 10rem;
		padding-right: 10rem;
	}

	.link_cards {
		flex-direction: column;
		gap: 0.75rem;
	}
}

@media (max-width: 640px) {
	.top {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}