.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    circle at top left,
    var(--color-accent-primary),
    var(--color-bg-main),
    var(--color-bg-main),
    var(--color-accent-secondary)
  );
}
.landing-top {
  display: flex;
  z-index: 10;
  margin-top: 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  padding: 0 16rem;
}
.link-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
}
.landing-spacing {
  margin-bottom: 8rem;
}
.landing-footer {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
}
@media (max-width: 1280px) {
  .landing-top {
    padding-left: 14rem;
    padding-right: 14rem;
  }
}
@media (max-width: 1024px) {
  .landing-top {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (max-width: 768px) {
  .landing-top {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 640px) {
  .landing-top {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .link-cards {
    flex-direction: column;
    gap: 0.75rem;
  }
}
