.popup-device-too-small {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-surface);
    z-index: var(--z-max);
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 719px) {
    .popup-device-too-small {
        display: flex;
    }
}
