.notifications-panel {
  position: fixed;
  bottom: var(--space-md);
  right: var(--space-md);
  z-index: var(--z-popover);
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: var(--space-sm);
}
.notification {
  background: var(--color-surface-alt);
  color: var(--color-text-main);
  padding: 1rem 1.5rem 1rem 3rem;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  transition: transform 0.4s ease, opacity 0.4s ease, margin 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
  position: relative;
}

.notification-title {
  font-weight: 700;
}

.notification-desc {
  font-size: var(--text-sm);
  color: var(--color-text-secondary)
}

.notification.enter {
  opacity: 1;
  transform: translateX(0);
}

.notification.exit {
  opacity: 0;
  transform: translateX(100%);
  margin-bottom: 0;
}

.notification-accent {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 100%;
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.notification-accent > svg {
  height: 60%;
  aspect-ratio: 1 / 1;
}
.notification.danger {
  background: linear-gradient(90deg, var(--color-danger), var(--color-surface-alt), var(--color-surface-alt));
}
.notification.success {
  background: linear-gradient(90deg, var(--color-success-dark), var(--color-surface-alt), var(--color-surface-alt));
  
}
.notification.info {
  background: linear-gradient(90deg, var(--color-info), var(--color-surface-alt), var(--color-surface-alt));
}
.notification.warning {
  background: linear-gradient(90deg, var(--color-warning), var(--color-surface-alt), var(--color-surface-alt));
}
.notification.danger .notification-accent > svg {
  color: var(--color-danger)
}
.notification.success .notification-accent > svg {
  color: var(--color-success)
}