.notifications-panel {
  position: fixed;
  bottom: var(--space-md);
  right: var(--space-md);
  z-index: var(--z-popover);
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: var(--space-sm);
}

.notification {
  background: var(--color-surface-alt);
  color: var(--color-text-main);
  padding: 1rem 1.5rem 1rem 3rem;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  transition: transform 0.4s ease, opacity 0.4s ease, margin 0.4s ease;
  opacity: 0;
  transform: translateX(100%);
  position: relative;
  background-color: var(--current-color-dark);
  border: 1px solid var(--current-color);
  --current-color: var(--color-info);
  --current-color-dark: var(--color-info-dark);
}

.notification-title {
  font-weight: 700;
}

.notification-desc {
  font-size: var(--text-sm);
  color: var(--color-text-secondary)
}

.notification.enter {
  opacity: 1;
  transform: translateX(0);
}

.notification.exit {
  opacity: 0;
  transform: translateX(100%);
  margin-bottom: 0;
}

.notification-accent {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 100%;
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.notification-accent>svg {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--current-color);
}

.notification.danger {
  --current-color: var(--color-danger);
  --current-color-dark: var(--color-danger-dark);
}

.notification.success {
  --current-color: var(--color-success);
  --current-color-dark: var(--color-success-dark);
}

.notification.info {
  --current-color: var(--color-info);
  --current-color-dark: var(--color-info-dark);
}

.notification.warning {
  --current-color: var(--color-warning);
  --current-color-dark: var(--color-warning-dark);
}