.button {
	min-width: 120px;
	padding: var(--pad-sm) var(--pad-md);
	border-radius: var(--radius-full);
	outline: none;
	border: none;
	cursor: pointer;
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	&.primary {
		background-color: var(--color-accent-primary);

		&:hover {
			background-color: var(--color-accent-primary-dark);
		}
	}

	&.secondary {
		background-color: var(--color-accent-secondary);

		&:hover {
			background-color: var(--color-accent-secondary-dark);
		}
	}

	&.grayscale {
		background-color: var(--color-text-main);

		&:hover {
			background-color: var(--color-text-muted);
		}
	}



	&:disabled {
		background-color: var(--color-text-muted);
		cursor: not-allowed;
	}

	p {
		font-size: var(--text-sm);
		color: var(--color-bg-main);
	}
}