.account-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.account-verify-text {
  font-size: var(--header-3-size);
  font-weight: 700;
  color: var(--color-text-main);
  text-align: center;
  margin-bottom: 1rem;
  z-index: 2;
}
.account-verify-loading {
  color: var(--color-text-secondary);
}
.account-verify-success {
  color: var(--color-success);
}
.account-verify-error {
  color: var(--color-danger);
}
.account-verify > svg {
  width: 10rem;
  height: 10rem;
  color: var(--color-accent-primary-dark);
  position: absolute;
  opacity: 0.3;
}
