.banner {
  z-index: var(--z-popover);
  padding: var(--space-sm) var(--space-lg);
  /* position: absolute; */
  top: 0;
  background-color: var(--color-accent-primary);
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: var(--text-md);
  /* margin-bottom: var(--space-xs); */
  font-weight: 600;
  padding-right: var(--space-sm);
  border-right: 2px solid var(--color-text-main);
  margin-right: var(--space-sm);
}

.content {
  font-size: var(--text-sm);
  font-weight: 500;
}