.banner {
  z-index: var(--z-popover);
  padding: var(--space-sm) var(--space-lg);
  position: absolute;
  top: 0;
  background-color: var(--color-bg-alt);
  border-bottom: 1px solid var(--color-border);
  width: 100%;
}
.header {
  font-size: var(--text-md);
  margin-bottom: var(--space-sm);
  font-weight: 600;
}
.content {
  font-size: var(--text-sm);
}
