.account-actionbar {
  position: fixed;
  bottom: 0.5rem;
  width: calc(100vw - 4rem);
  background: linear-gradient(
    45deg,
    var(--color-surface-alt),
    var(--color-surface)
  );
  left: 50%;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  border: var(--border-thin) solid var(--color-border);
  border-radius: var(--radius-sm);
  z-index: var(--z-popover);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: translateY(0.5rem);
  transition: opacity 0.2s ease;
}
.account-actionbar.true {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.account-actionbar-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.account-actionbar-warning > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.account-actionbar-text {
  font-weight: 600;
  font-size: 1.05rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.account-actionbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.account-actionbar-show-changes {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.account-actionbar-show-changes > svg {
  height: 1.25rem;
  height: 1.25rem;
}
