.channel-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}
.channel-container-messages-container {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1rem;
}