.media_badge {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 0.25rem;
	/* background: var(--color-surface-alt); */
	cursor: pointer;
	overflow: hidden;
	transition: background 0.3s ease, transform 0.2s ease;
}

.media_badge svg {
	width: 2rem;
	height: 2rem;
	color: var(--color-text-main);
	transition: transform 0.3s ease, color 0.3s ease;
}

.media_badge::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 50%;
	width: 0%;
	height: 2px;
	background: var(--color-accent-primary);
	transform: translateX(-50%);
	transition: width 0.2s ease;
}

.media_badge::after {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 50%;
	width: 0%;
	height: 2px;
	background: var(--color-accent-primary);
	transform: translateX(-50%);
	transition: width 0.2s ease;
}

.media_badge:hover {
	/* background-color: var(--color-surface); */
	transform: scale(1.05);
}

.media_badge:hover::before,
.media_badge:hover::after {
	width: 80%;
}

.media_badge:hover svg {
	color: var(--color-accent-primary);
	transform: scale(1.1) rotate(10deg);
}
