.account-section-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-xxl) 0 var(--space-sm) 0;
}
.account-section-title h2 {
  font-weight: 700;
  text-align: left;
  color: var(--color-text-main);
  font-family: var(--font-main);
  font-size: var(--text-lg);
  text-align: left;
  margin: 0;
}

.account-section-title-line {
  flex-grow: 1;
  height: 2px;
  background-color: var(--color-text-main);
}
