.account-tab-friends-search {
    width: 100%;
    max-width: 650px;
    position: relative;
    z-index: var(--z-overlay);
}

.account-tab-friends-search-results {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);

    background-color: var(--color-surface-alt);
    padding: var(--pad-sm);
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
}

.account-tab-friends-search-result {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
    background-color: var(--color-surface);
    width: 100%;
    border-radius: var(--radius-md);
}

.account-tab-friends-search-result:first-child {
    border-radius: var(--radius-xl) var(--radius-xl) var(--radius-md) var(--radius-md);
}

.account-tab-friends-search-result:last-child {
    border-radius: var(--radius-md) var(--radius-md) var(--radius-xl) var(--radius-xl);
}

.account-tab-friends-search-result:first-child:last-child {
    border-radius: var(--radius-xl);
}

.account-tab-friends-search-result img {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-full);
}

.account-tab-friends-search-result .small {
    margin-right: auto;
}

.account-tab-friends-search-result .small>.display {
    font-weight: 600;
    color: var(--color-text-main)
}

.account-tab-friends-search-result .small>.username {
    color: var(--color-text-muted)
}