.account-tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem calc(10rem + 250px) 3rem 10em;
}
@media screen and (max-width: 1000px) {
  .account-tab-content {
    padding: 1rem 2rem 1rem 2rem;
  }
}
