.account-tab-security-sessions-card {
  padding: 1rem;
  /* border-radius: 0.5rem; */
  background: linear-gradient(
    to left top,
    var(--color-bg-alt),
    var(--color-surface)
  );
  border: var(--border-thin) solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease;
  overflow: hidden;
  transition: all 0.2 ease;
}
.account-tab-security-sessions-card.current {
  border-radius: var(--radius-lg);
}
.account-tab-security-sessions-card-title {
  font-weight: 600;
}
.account-tab-security-sessions-card-ip {
  font-size: var(--text-sm);
  color: var(--color-text-muted);
  margin-top: var(--space-xxs);
}
.account-tab-security-sessions-card-time {
  font-size: var(--text-xs);
  color: var(--color-text-muted);
  margin-top: var(--space-xs);
}
.account-tab-security-sessions-card-cancel svg {
  color: var(--color-danger);
  font-size: var(--header-3-size);
  cursor: pointer;
  margin-top: var(--space-xs);
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all 0.1s ease;
}
.account-tab-security-sessions-card-cancel:hover svg {
  color: var(--color-text-main);
}

.account-tab-security-sessions-card:hover
  .account-tab-security-sessions-card-cancel
  svg {
  opacity: 1;
  transform: translateY(0);
}
.account-tab-security-sessions-card:hover {
  background: linear-gradient(
    to bottom right,
    var(--color-bg-alt),
    var(--color-surface)
  );
}
