.landing-zone-zero-card {
    display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: var(--radius-xl);
  background: linear-gradient(270deg, var(--color-bg-alt), var(--color-bg-main));
  border: var(--border-thin) solid var(--color-accent-secondary-light);
  /*box-shadow: inset var(--shadow-glow-secondary), var(--shadow-glow-secondary);*/
  position: relative;
  margin-bottom: 2rem;
  max-width: 900px;
}

.landing-zone-zero-card > p {
    font-size: var(--header-1-size);
    width: 100%;
    text-align: center;
    margin: var(--pad-2xl) 0;
    font-weight: 800;
}



.landing-zone-zero-card-top {
    width: fit-content;
    margin: 0 auto;
}
.landing-zone-zero-card-title {
    font-size: 8rem;
    margin: calc(-1 * 1rem);
    margin-bottom: var(--space-xl);
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0rem;
    font-weight: 1000;
    background-color: var(--color-surface-alt);
    background: linear-gradient(90deg, var(--color-accent-primary-dark), var(--color-accent-secondary-dark));
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    color: transparent;
    background-clip: text;
}
.landing-zone-zero-card-subtitle {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: var(--text-lg);
}
.landing-zone-zero-card-bottom {
    display: flex;
  flex-direction: row;
}
.landing-zone-zero-card-messages {
    margin-right: auto;
    transform: skew(-10deg, 2deg);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-xs);
    margin-left: 5rem;
    margin-bottom: -3rem;
}
.landing-zone-zero-card-messages img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: var(--radius-full);
    margin-right: 0.3rem;
}
.landing-zone-zero-card-messages > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.25rem 0.7rem;
    color: var(--color-text-main);
    background-color: var(--color-bg-alt);
    width: fit-content;
    border-radius: var(--radius-sm);
    border: solid 1px var(--color-border);
    box-shadow: var(--shadow-md)
}
.landing-zone-zero-card-messages > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--color-text-main)
}
.landing-zone-zero-card-messages > div > div > p:first-child {
    font-size: var(--text-sm);
    font-weight: 600;
}


.landing-zone-zero-card-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 100%;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: -1rem;
}
.landing-zone-zero-card-links a {
    font-size: var(--text-sm);
}
.landing-zone-zero-card button {
    margin-top: auto;
    border-radius: var(--radius-lg);
    background-color: var(--color-surface-alt);
    width: 100%;
    font-size: var(--text-md);
    padding: var(--space-sm) var(--space-lg);
    font-weight: 600;
    border: var(--border-thin) solid var(--color-border);
    margin-bottom: 0.5rem;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    position: relative;
}
.landing-zone-zero-card button svg {
    position: absolute;
    right: var(--space-md);
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateX(0.5rem);
}
.landing-zone-zero-card button:hover svg {
    opacity: 1;
    transform: translateX(0);
}
.landing-zone-zero-card button:hover {
    background-color: var(--color-surface);
    border: var(--border-thin) solid var(--color-accent-primary-light);
    padding-right: calc(var(--space-xl) + 0.3rem)
}
.landing-zone-zero-card button::after {
    display: none;
}


@media (max-width: 1240px) {
    .landing-zone-zero-card-title {
        font-size: 7rem;
    }
  }
  @media (max-width: 1140px) {
    .landing-zone-zero-card-title {
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    .landing-zone-zero-card button {
        font-size: var(--text-sm);
        padding: var(--space-sm) var(--space-md);
    }
  }
  @media (max-width: 870px) {
    .landing-zone-zero-card-title {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .landing-zone-zero-card button {
        font-size: var(--text-sm);
        padding: var(--space-sm) var(--space-sm);
    }
    .landing-zone-zero-card-messages {
        margin-left: 0rem;
        margin-bottom: -3rem;
        font-size: var(--text-sm);
    }
    .landing-zone-zero-card button svg {
        opacity: 1;
        transform: translateX(0);
    }
    .landing-zone-zero-card button {
        background-color: var(--color-surface);
        padding-right: calc(var(--space-xl) + 0.3rem)
    }
  }