@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.noscript-message {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
  text-align: center;
}

.noscript-message h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.noscript-message p {
  margin: 10px 0;
}

.noscript-message a {
  color: #4eaaff;
  text-decoration: none;
}