.account-navigation {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 250px;
  margin: 4rem 0.8rem 0 0;
  flex-shrink: 0;
}

@media screen and (max-width: 1000px) {
  .account-navigation {
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: start;
    margin: 1.2rem auto;
    max-width: 90vw;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
