.spotify-controller {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(25, 25, 25, 0.7);
  padding: var(--pad-sm);
  padding-right: var(--pad-lg);
  border-radius: 1.2rem;
  z-index: var(--z-modal);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 600px;
  max-height: 85px;
  box-sizing: border-box;
}

.spotify-album-art {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.spotify-song-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
  width: 100%;
}

.spotify-song-meta {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.spotify-song-info>.spotify-song-name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text-muted);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  width: 100%;
  max-width: 190rem;
}

.spotify-song-info .spotify-song-artist {
  font-size: 0.9rem;
  color: var(--color-text-muted);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spotify-song-info>p {
  font-size: 0.8rem;
  color: var(--color-text-muted);
  white-space: nowrap;
  width: 100%;
}

.spotify-song-info * {
  line-height: 1.2;
}


.spotify-progress-bar {
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--radius-full);
  margin-top: var(--pad-md);
  margin-bottom: -0.4rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: start;
  flex-grow: 1;
}

.spotify-progress-fill {
  height: 100%;
  background: #1DB954;
  border-radius: 0 0 var(--radius-full) var(--radius-full);
}

.spotify-time-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: var(--color-text-muted);
  margin-top: 0.2rem;

  span {
    color: var(--color-text-muted)
  }
}

.spotify-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spotify-controls button {
  background: transparent;
  border: none;
  color: var(--color-text);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-controls button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.spotify-controls button:active {
  transform: scale(0.95);
}

.spotify-minimize {
  position: absolute;
  top: 2px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--radius-md);
}

.spotify-minimize svg {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  translate: 0.5rem 0;
}

.spotify-minimize:hover svg {
  translate: 0rem 0;
}

/* .spotify-minimize:hover {
  background-color: var(--color-surface-alt);
} */

.spotify-controller.true {
  width: 4.5rem;
  padding: 0;
  bottom: 1.4rem;
}

.spotify-controller.true .spotify-song-info {
  display: none;
}

.spotify-controller.true .spotify-album-art {
  cursor: pointer;
}

.spotify-controller.true .spotify-minimize {
  display: none;
}



.spotify-progress-fill-waves {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  line-height: 0;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-self: left;
  flex-grow: 1;
}

.spotify-progress-fill-waves svg {
  display: block;
  width: 2400px;
  transform: rotate(180deg);
  height: 10px;
}

.wave path {
  animation: waveMove 16s linear infinite;
}

.wave1 path {
  animation-duration: 16s;
}

.wave2 path {
  animation-duration: 12s;
}

.wave3 path {
  animation-duration: 8s;
}

.wave1 path:first-child {
  animation-delay: -8s;
}

.wave2 path:first-child {
  animation-delay: -6s;
}

.wave3 path:first-child {
  animation-delay: -4s;
}

@keyframes waveMove {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.shape-fill {
  fill: #1DB954;
}