.user-card-container {
  border-radius: calc(var(--radius-xl) + var(--pad-xxs));
  padding: var(--pad-xxs);
  background-color: var(--color-border);
}

.user-card {
  width: 325px;
  border-radius: var(--radius-xl);
  overflow: hidden;
  background: var(--color-surface-alt);
  padding: var(--pad-sm);
}

.user-card-banner {
  height: 128px;
  /* margin: calc(-1 * var(--space-md)) calc(-1 * var(--space-md)) calc(-1 * var(--space-md)); */
  border-radius: var(--radius-lg);
}

.user-card-container.loading .user-card-banner {
  background-color: var(--color-border);
}

.user-card-avatar-wrapper {
  display: flex;
  justify-content: left;
  margin-top: -45px;
  margin-left: 10px;
  width: 90px;
  height: 90px;
  background-color: var(--color-border);
  border-radius: 50%;
  border: 4px solid var(--color-surface-alt);
}
.user-card-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-card-container.loading .user-card-avatar {
  opacity: 0;
}

.user-card-info {
  margin-top: -45px;
  border-radius: 0 0 16px 16px;
}

.user-card-names {
  margin-bottom: 12px;
  margin-left: 100px;
}
.user-card-container.loading .user-card-info {
  margin-top: -40px
}
.user-card-container.loading .user-card-names h3 {
  background-color: var(--color-border);
  width: fit-content;
  border-radius: var(--radius-sm);
  color: var(--color-border);
}

.user-card-names h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.user-card-names p {
  font-size: 0.85rem;
  color: var(--color-text-muted);
  margin-top: 1px;
}

.user-card-bio {
  
  padding-top: 8px;
  border-top: 1px solid var(--color-border);
}

.user-card-bio h4 {
  margin: 0 0 4px 0;
  font-size: 0.9rem;
  color: var(--color-text-muted);
}

.user-card-bio p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.4;
}
.user-card-bio, .user-card-stats {
  margin: var(--pad-md) var(--pad-sm);
}
.user-card-stats h4 {
  font-size: 0.9rem;
  color: var(--color-text-muted);
}

.user-card-stats p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.4;
}
