.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    pointer-events: none;
}
.modal-content {
    z-index: var(--z-modal);
    position: absolute;
    pointer-events: all;
}