.main {
    background-color: var(--color-surface-alt);
    border-radius: var(--radius-md);
    padding: var(--pad-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    p {
        color: var(--color-text-main);
        font-size: var(--text-sm);
    }
}