.account-navigation-tabbutton {
  background-color: transparent;
  color: var(--color-text-muted);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.9rem;
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  position: relative;
  z-index: var(--z-overlay);
  cursor: pointer;
}
.account-navigation-tabbutton:hover {
  background-color: var(--color-bg-alt);
}
/* .account-navigation-tabbutton-logout:hover > svg {
  color: var(--color-danger);
} */
.account-navigation-tabbutton-logout:hover {
  background: linear-gradient(90deg, var(--color-bg-alt), var(--color-danger))
}
/* .account-navigation-tabbutton-logout:hover > p {
  color: var(--color-danger);
} */
.account-navigation-tabbutton > svg {
  height: 1.2rem;
  width: 1.2rem;
}
.account-navigation-tabbutton:hover {
  text-decoration: none;
}
.account-navigation-tabbutton.active {
  background: linear-gradient(
    90deg,
    var(--color-surface),
    var(--color-accent-secondary-dark)
  );
  color: var(--color-text-main);
}
.account-navigation-tabbutton.active::after {
  content: "";
  height: 1.9rem;
  width: 4px;
  border-radius: 99px;
  left: -1px;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
  background-color: var(--color-accent-secondary);
}

@media screen and (max-width: 1000px) {
  .account-navigation-tabbutton {
    padding: 0.2rem 24px;
    border-radius: 8px 8px 0 0;
  }
  .account-navigation-tabbutton.active::after {
    height: 2px;
    width: 100%;
    border-radius: 0px;
    top: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  .account-navigation-tabbutton::after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 0px;
    top: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--color-surface-alt);
  }
}
