.footer {
	margin-top: 1.25rem;
	width: 100%;
	background: linear-gradient(
		to bottom,
		var(--color-accent-primary-bg),
		var(--color-accent-primary-dark)
	);
	border-top: solid 1px var(--color-accent-primary-dark);
}

.top {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: start;
	margin: 4rem 3rem;
}
.left {
	width: 50%;
}
.right {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
	width: 50%;
	gap: 0.5rem;
}
.cat div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.cat_title p {
	color: var(--color-text-muted);
}
.cat_title {
	margin-bottom: var(--space-sm);
}
.cat_title {
	position: relative;
}
.cleft {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	left: var(--space-md);
	display: none;
}
.cright {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	right: var(--space-md);
	display: none;
}
.cat a {
	color: var(--color-text-main);
}
.cat a:hover {
	text-decoration: underline;
}
.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}
.bottom p {
	font-weight: 900;
	font-size: 14vw;
	user-select: none;
	margin-bottom: 0.75rem;
}

.left {
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid var(--color-text-main);
	box-sizing: border-box;
	min-height: 230px;
	display: flex;
	align-items: end;
}

.name > p {
	font-size: 3.5rem;
}

.left > img {
	height: 270px;
	width: 200px;
	position: absolute;
	bottom: -25%;
	right: -30px;
	transition: transform 0.2s ease;
}
.left > img:hover {
	transform: translateY(-10px);
}

@media (max-width: 1024px) {
	.right {
		display: grid;
		grid-template-columns: auto auto;
		gap: 3rem;
		grid-template-rows: auto auto auto;
	}
}
@media (max-width: 768px) {
	.top {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.top {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		margin: 4rem 1rem;
	}
	.right {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-size: var(--text-lg);
	}
	.cat_title p {
		font-size: var(--text-md);
		font-weight: 600;
	}
	.left {
		width: 100%;
	}

	.cat {
		width: 100%;
		text-align: center;
	}
	.cat_title {
		background-color: var(--color-accent-primary-bg);
		padding: 1rem 1rem;
		border-radius: var(--radius-md);
		margin-bottom: 0;
		cursor: pointer;
	}
	.cat_title .cleft, .cright {
		display: block;
		transition: .2s rotate ease;
	}
	.cat.open .cat_title .cleft, .cat.open .cat_title .cright {
		rotate: 180deg;
	}
	.cat > div:nth-child(2) {
		height: 0;
		overflow-x: hidden;
		transition: height 0.3s ease;
		background-color: var(--color-surface-alt);
		padding: 0;
		gap: 0;
	}
	.cat > div:nth-child(2) > a:hover {
		background-color: var(--color-surface);
	}
	.cat.open > div {
		height: fit-content;
		border-radius: 0 0 var(--radius-md) var(--radius-md);
	}
	.cat.open > div:nth-child(2) > a {
		padding: var(--pad-md) var(--pad-xs);
		border-bottom: 1px var(--color-border) solid;
	}
	.cat.open > div:nth-child(2) > a:last-child {
		border: none;
	}
	.cat > div:nth-child(2) > a {
		font-size: var(--text-md);
	}
	.cat.open .cat_title {
		border-radius: var(--radius-md) var(--radius-md) 0 0;
	}
	.cat.open .cat_title p {
		color: var(--color-text-main);
	}
	.left {
		margin-bottom: var(--space-md);
	}
}
