.landing-footer {
    margin-top: 1.25rem;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-accent-primary-bg), var(--color-accent-primary-dark));
    border-top: solid 1px var(--color-accent-primary-dark);
  }
  
  .landing-footer-top {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 4rem 3rem;
  }
  .landing-footer-left {
    width: 50%;
  }
  .landing-footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    width: 50%;
    gap: 0.5rem;
  }
  .landing-footer-link-cat div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .landing-footer-link-cat-title {
    color: var(--color-text-muted);
    margin-bottom: 0.75rem;
  }
  .landing-footer-link-cat a {
    color: var(--color-text-main);
  }
  .landing-footer-link-cat a:hover {
    text-decoration: underline;
  }
  .landing-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .landing-footer-bottom p {
    font-weight: 900;
    font-size: 14vw;
    user-select: none;
    margin-bottom: 0.75rem;
  }

  .landing-footer-left {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--color-text-main);
    box-sizing: border-box;
    min-height: 230px;
    display: flex;
    align-items: end;
  }

  .landing-footer-name > p {
    font-size: 3.5rem;
  }

  .landing-footer-left > img {
    height: 270px;
    width: 200px;
    position: absolute;
    bottom: -25%;
    right: 0;
  }

  @media (max-width: 1024px) {
    .landing-footer-right {
      display: grid;
      grid-template-columns: auto auto;
      gap: 3rem;
      grid-template-rows: auto auto auto;
    }
  }
  @media (max-width: 768px) {
    .landing-top {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    .landing-footer-top {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      margin: 4rem 3rem;
    }
    .landing-footer-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: var(--text-lg)
    }
    .landing-footer-link-cat-title {
      font-size: var(--text-md);
      font-weight: 600;
    }
    .landing-footer-left {
      width: 100%;
    }

    .landing-footer-link-cat {
        width:100%;
        text-align: center;
    }
    .landing-footer-link-cat-title {
        background-color: var(--color-accent-primary-bg);
        padding: 1rem 1rem;
        border-radius: var(--radius-md);
        transition: border-radius 0.4s ease, padding 0.4s ease;
        margin-bottom: 0;
    }
    .landing-footer-link-cat > div {
        height: 0;
        overflow-x: hidden;
        transition: height 0.3s ease;
        background-color: var(--color-surface-alt);
        padding: 0;
        transition: border-radius 0.4s ease, padding 0.4s ease;
        
    }
    .landing-footer-link-cat.true > div {
        height: fit-content;
        padding: var(--pad-md) var(--pad-xs);
        border-radius: 0 0 var(--radius-md) var(--radius-md);
    }
    .landing-footer-link-cat.true .landing-footer-link-cat-title {
        border-radius: var(--radius-md) var(--radius-md) 0 0;
    }
    .landing-footer-left {
      margin-bottom: var(--space-md);
    }
  }