.container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.tooltip {
    position: absolute;
    background: var(--color-surface);
    border: 1px solid var(--color-border);
    color: var(--color-text-main);
    padding: 0.5rem;
    border-radius: var(--radius-sm);
    z-index: var(--z-overlay);
    transition: opacity 0.3s ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5rem;
}

.right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}

.left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 0.5rem;
}

.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
}