.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem;
	border-radius: var(--radius-md);
	background: linear-gradient(to right, var(--color-bg-alt), #232463);
	border: var(--border-thin) solid var(--color-border);
	position: relative;
	overflow: hidden;
	max-width: 500px;
}

.card > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
}

.card > div > img {
	width: 3rem;
	height: 3rem;
	border-radius: 9999px;
}

.status {
	position: absolute;
	top: 3.1rem;
	left: 3.1rem;
	width: 1rem;
	height: 1rem;
	background-color: #dc2626;
	border-radius: 9999px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info > h2 {
	margin: 0;
	font-size: 1.125rem;
	line-height: 1.1rem;
	font-weight: 600;
	color: var(--color-text-main);
}

.info > p {
	margin: 0;
	font-size: 0.95rem;
	line-height: 1.25rem;
	font-weight: 500;
	color: var(--color-text-sub);
}

.card > div > a {
	margin-left: auto;
	padding: 0.5rem 1.25rem;
	border-radius: 0.5rem;
	width: fit-content;
	height: fit-content;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
	color: var(--color-text-main);
	background-color: var(--color-discord-1);
	cursor: pointer;
	text-decoration: none;
}

.card > div > a:hover {
	background-color: #4f46e5;
}
