.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.left {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: var(--space-sm);
    padding: var(--pad-sm);
}
.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.right p {
    font-size: 1rem;
    gap: var(--space-sm);
    padding: var(--pad-sm);
    text-align: right;
}
.page_container {
    background-color: var(--color-surface-alt);
    border-top-left-radius: var(--radius-lg);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}