.landing-header {
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 8rem;
  width: fit-content;
}

.landing-header > h1 {
  color: var(--color-text-main);
  font-size: 4.5rem;
  font-weight: 800;
}

@media (max-width: 640px) {
  .landing-header > h1 {
    font-size: 3rem;
  }
}

.landing-header > p {
  color: var(--color-accent-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

.media-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.25rem;
  margin-top: 1.5rem;
  height: 3rem;
  overflow: hidden;
}

@media (max-width: 640px) {
  .media-row {
    gap: 0.75rem;
  }
}

.link-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.links {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.25rem;
}

.links.open {
  height: 3rem;
}

@media (max-width: 640px) {
  .links,
  .links.open {
    gap: 0.75rem;
  }
}

.chevron {
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
