.account-tab-title {
  font-weight: 700;
  color: var(--color-text-main);
  font-size: var(--header-3-size);
  padding: 0.75rem 1.5rem;
  margin: 0 0 var(--space-md) 0;
  /* background-color: var(--color-surface); */
  border-bottom: 2px solid var(--color-surface-alt);
  /* border-radius: var(--radius-sm); */
  /* min-width: 25rem; */
  width: 100%;
  text-align: left;
}