.account-tab-title {
  font-weight: 700;
  color: var(--color-text-main);
  font-size: var(--text-lg);
  padding: 0.75rem 1.5rem;
  margin: 0 0 var(--space-md) 0;
  background-color: var(--color-surface);
  border-radius: var(--radius-sm);
  min-width: 25rem;
  text-align: center;
}
