.account-tab-home-topbanner {
  overflow-x: hidden;
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account-tab-home-topbanner-displaycircle {
  width: 60vw;
  height: 60vw;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--color-accent-primary) 0%,
    transparent 80%
  );

  filter: blur(100px);
  top: 0;
  right: 0;
  translate: 50% -50%;
  user-select: none;
  pointer-events: none;
}

.account-tab-home-topbanner > img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--color-bg-alt);
  object-fit: cover;
}
.account-tab-home-topbanner > p {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 0.8rem;
}
