.auth-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--color-surface);
  position: relative;
}

.auth-screen-title {
  position: absolute;
  top: var(--space-md);
  left: var(--space-md);
  font-size: var(--header-3-size);
  color: var(--color-text-main);
  font-weight: bold;
  z-index: 10;
  opacity: 0.8;
  letter-spacing: 1px;
}

.auth-screen-form {
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-screen-form h1 {
  font-weight: bolder;
}

.auth-screen-form form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.auth-screen-form-error {
  color: var(--color-danger);
  font-size: var(--text-sm);
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.auth-screen-form-error-hidden {
  opacity: 0;
  height: 0;
}

.auth-screen-decor {
  width: 55vw;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--color-accent-primary) 20%,
    rgb(241, 202, 255) 50%,
    var(--color-accent-secondary) 80%
  );
  opacity: 60%;
  border-radius: 0 0 0 0;
  position: relative;
}
@media only screen and (max-width: 719px) {
  .auth-screen-decor {
    display: none;
  }
  .auth-screen-form {
    width: 100%;
    padding: var(--padding-card-vertical) var(--padding-card-horizontal);
  }
}
